<div class="content-scanner">
  <br/><h2 id="word" style="text-align: center">Barcode Scanner</h2><br/>
  <div class="input-group input-group-lg">
    <input type="text" id="searchBox" class="form-control" aria-label="Label" aria-describedby="inputGroup-sizing-sm"><button type="button" class="btn btn-primary">Scan</button>
<button type="button" class="btn btn-dark">Exit</button>
  </div><br/><br/>
</div>

<h2> LCD Display</h2>
<div class='lcd_display'></div>
<h2> Printer</h2>
<div class='printer'></div>

<script type="text/javascript">
  function showProductsArray(productsArray){
    var s = "";
    productsArray.forEach(function (item, index) {
      console.log(item, index);
      s = s.concat(item['productName']+" - $" + item['productPrice']+"<br/>");
    });
    return s;
  }
</script>

<script type="text/javascript">
    var code = "";
    let productName = "";
    let productPrice = 0.0;
    var productsArray = [];

    $("document").ready(function() {
        $("#searchBox").unbind('keyup').keyup(function(event) {
            if (event.keyCode === 13) {
                code = $('#searchBox').val();
                $.ajax({
                    url: '/scanner/search',
                    type: 'POST',
                    data: {
                        code: code
                    },
                    success: function(r) {
                        if(r['data'] == null || r['data'] == 'undefined'){
                          $(".lcd_display").html("Product not found!");
                        } else {
                          productName = r['data']['name'];
                          productPrice = r['data']['price'];
                          productsArray.push({productName, productPrice})
                          $(".lcd_display").html("Scanned product: "+productName);
                          $(".printer").html(showProductsArray(productsArray));
                        }
                    }
                });
                return false;
            }
        });
    });
</script>
